.container-fluid {
  background: linear-gradient(45deg , #cecece 10%,transparent 11%, transparent 89% , #cecece 90%),linear-gradient(135deg , #cecece 10%,transparent 11%, transparent 89% , #cecece 90%),radial-gradient(circle, transparent 25%, #ffffff  26%),linear-gradient(45deg, transparent 46%, #cecece 47%, #cecece 52%, transparent 53%), linear-gradient(135deg, transparent 46%, #cecece 47%, #cecece 52%, transparent 53%);
  background-size: 2em 2em;
  background-color: #ffffff;
  opacity: 1;
  height: 100vh;
  overflow: hidden;
}

.custom-card-container {
  width: 100%;
  max-width: 650px;
  height: auto;
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
  border: 1px solid #eee;
}

.custom-input {
  width: 80%;
  border: 0;
  border-bottom: 1px solid #3a5a96;
}

.custom-input:focus {
  outline: none;
}

.choices-list {
  padding: 0;
  list-style: none;
}

.choices-list .choices-item {
  border: 1px solid #eee;
  margin: 10px 0;
  padding: 12px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.choices-list .choices-item:hover {
  border: 1px solid #3a5a96;
}

.custom-btn {
  width: max-content;
}

.wrong,
.selected {
  color: #fff;
}

.score-card {
  background-color: #fff;
  border-radius: 5px;
  width: 260px;
  padding: 20px;
  border: 1px solid #eee;
}

.score-text {
    font-size: 10rem;
}

/* loader */
.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}

.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #f0808050;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #f08080;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {

  0%,
    100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}